@import "tailwindcss";

@layer components {
  .range-slider {
    position: relative;
    height: 2px;
    background-color: #d1d5db; /* gray-300 */
  }

  .range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;
  }

  .range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white;
    border: 2px solid #2563eb; /* blue-600 */
    cursor: pointer;
    pointer-events: auto;
  }

  .range-slider .slider-track {
    position: absolute;
    height: 2px;
    background-color: #2563eb; /* blue-600 */
    top: 50%;
    transform: translateY(-50%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormo: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
